body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#popupForm-download .btn-pop-newsletter{
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
}

button:hover {
    background-color: #45a049;
}

#popupForm-download {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
}

#popupForm-download .popup-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.5s;
}


#popupForm-download .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#popupForm-download .close-btn:hover,
#popupForm-download .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popupForm-download h2 {
    margin-top: 0;
}

#popupForm-download label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#popupForm-download input[type="text"],
#popupForm-download input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


#my_pop_btn_animate_one{
    display: none;
}
